# Default ignored files
/shelf/
/workspace.xml
log/
target/
.idea/
*.iml
*.iws
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
